* {
    box-sizing: border-box;
}

img {
    max-width:100%;
}

body {
    background-color: rgb(5, 57, 120);
}

.container {
    background-color:lightblue;
    width:2000px;
    height:2000px;
    position:fixed;
    top:0px;
    left:0px;
    animation: pulse 90s linear infinite;
}

@keyframes pulse {
    0% {
        background-color:lightblue;
    }

    25% {
        background-color:rgb(255, 141, 109);
    }

    50% {
        background-color:rgb(32, 48, 138);
    }

    75% {
        background-color:rgb(255, 180, 109);
    }

    100% {
        background-color:lightblue;
    }

}

.hive {
    width:500px;
    height:500px;
    position:absolute;
    top:-10px;
    right:500px;
    animation:pulsate 10s alternate infinite;
}

@keyframes pulsate {
    0%{
        scale:1;
    }

    25%{
         scale:1.5;
    }

    50%{
         scale:1;
    }

    100%{
         scale:1.5;
    }
}

.bee-path {
      /* background: lightblue; */
  width: 100px;
  /* i did some more tinkering and a 100vw height works a bit better for most screen-size configurations, making sure the bee always leaves the screen */
  height: 100vw;
  position: fixed;

  /* it took a bit of experimentation, but these positon values were able to get the path centered on the screen, no matter the width or height of the browser */
  bottom: 50%;
  left: 50%;
  translate: -50%;
  transform-origin: bottom center;
     animation: random-path 5s infinite linear;

}

@keyframes random-path{
    100%{
        rotate: random(0deg, 360deg); 
    }
}

.bee {
    width:100px;
    height:100px;
    position:absolute;
    bottom:0;
    /* position:fixed; */
    /* bottom:275px; */
    /* right:690px; */
    animation: bee-move 2s infinite, bee-shake .5s infinite;
    /* for later:  rotate: random (element-shared, 0deg, 360deg); */
}

@keyframes bee-move {
  99.99% {
    bottom:100%;
  }
  100% {
    bottom:0;
  }
}

@keyframes bee-shake {
  0% {
    left:0;
  }
  5% {
    left:0;
  }
  25% {
    left:-100%;
  }
  50% {
    left:0;
  }
  75% {
    left:100%;
  }
  100% {
    left:0;
  }
}